<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
  <head>
    <title>flex-shrink</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href='demo.css'/>
  </head>
  <body>
    <article>
      <div>
        <div style="flex-shrink: 0">flex-shrink: 0</div>
        <div style="flex-shrink: 0">flex-shrink: 0</div>
        <div style="flex-shrink: 0">flex-shrink: 0</div>
      </div>
      <p>Flex container⤴</p>
    </article>
    <article>
      <div>
        <div style="flex-shrink: 0">flex-shrink: 0</div>
        <div style="flex-shrink: 0">flex-shrink: 0</div>
        <div style="flex-shrink: 1">flex-shrink: 1</div>
      </div>
      <p>Flex container⤴</p>
    </article>
    <article>
      <div>
        <div style="flex-shrink: 1">flex-shrink: 1</div>
        <div style="flex-shrink: 1">flex-shrink: 1</div>
        <div style="flex-shrink: 3">flex-shrink: 3</div>
      </div>
      <p>Flex container⤴</p>
    </article>
    <!-- Not pictured in book -->
    <article>
      <div>
        <div style="flex-shrink: 0.25">flex-shrink: 0.25 with lots and lots of additional text that does wrap but doesn't make the flex item wider. Supercalifragispicipsialidocioustimesamillionfourhunddred.</div>
        <div style="flex-shrink: 0.25">flex-shrink: 0.25</div>
        <div style="flex-shrink: 0.75">flex-shrink: 0.75</div>
      </div>
      <p>Flex container⤴</p>
    </article>
    <article>
      <div>
        <div style="flex-shrink: 0.25">flex-shrink: 0.25 with lots and lots of additional text that does wrap but doesn't make the flex item wider. Supercalifragispicipsialidocioustimesamillionfourhunddred.</div>
        <div style="flex-shrink: 0.25">flex-shrink: 0.25 Supercalifragispicipsialidocioustimesamillionfourhunddred.</div>
        <div style="flex-shrink: 0.75">flex-shrink: 0.75 Supercalifragispicipsialidocioustimesamillionfourhunddred.</div>
      </div>
      <p>Flex container⤴</p>
    </article>
    <article>
      <div>
        <div style="flex-shrink: .1">flex-shrink: 0.1</div>
        <div style="flex-shrink: .1">flex-shrink: 0.1</div>
        <div style="flex-shrink: 3">flex-shrink: 3.0</div>
      </div>
      <p>Flex container⤴</p>
    </article>
  </body>
</html>


<!------------------------------------------------------------------------------------
------------------------------------------------------------------------------------->