@charset "UTF-8";

html {
  background-image: linear-gradient(to top, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
}

hr {
  width: 100%;
  height: 0.3vh;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  background: #333333 linear-gradient(to right, #FF0000, #00DAFF, rgb(9, 206, 91));
}

/* baseline */
p#baseline {
  width: 600px;
  font-size: xx-large;
}

p#baseline span {
  font-weight: bolder;
  font-size: 50px;
  vertical-align: baseline;
}

img {
  width: 35px;
  height: 35px;
  vertical-align: baseline;
}

/* super & sub */
p#super_sub {
  width: 600px;
  font-size: x-large;
}

span.raise {
  font-weight: bolder;
  font-size: larger;
  vertical-align: super;
}

span.lower {
  font-weight: bolder;
  font-size: larger;
  vertical-align: sub;
}

/* bottom and text-bottom */
p#bottom_text-bottom {
  width: 500px;
  font-size: 24px;
}

img#bottom {
  vertical-align: bottom;
}

img#text-bottom {
  vertical-align: text-bottom;
}

/* up and text up */
.up {
  vertical-align: top;
}

.text-up {
  font-size: x-large;
  vertical-align: text-top;
}

/* middle */
p#middle {
  font-size: xx-large;
}

p#middle img {
  width: 20px;
  height: 100px;
  vertical-align: middle;
}

/* percentage */
p#percentage {
  font-size: xx-large;
}

p#percentage sup {
  font-weight: bolder;
  font-size: larger;
  vertical-align: 100%;
}

p#percentage sub {
  font-weight: bolder;
  font-size: larger;
  vertical-align: -100%;
}

/* length */
p#length {
  width: 500px;
  font-size: xx-large;
}

p#length span {
  font-weight: bolder;
  vertical-align: 20px;
}