@charset "UTF-8";

* {
  box-sizing: content-box;
  float: none;
  margin: 0;
  padding: 0;
  /*border: 0.2em dashed red;*/
}

*::selection {
  color: #00FFFF;
  background-color: black;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0.3em;
  background-image: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
}

html > body {
  margin: 0;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0.15em 0.15em 0.15em gray;
  background-color: white;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.5em;
}

html > body h1 {
  font-size: 3em;
}

html > body h2 {
  font-size: 2.4em;
}

html > body h3 {
  font-size: 1.92em;
}

html > body h4 {
  font-size: 1.536em;
}

html > body h5 {
  font-size: 1.2288em;
}

html > body h6 {
  font-size: 0.98304em;
}


body > *, main > * {
  outline: 1px #CCCCCC solid;
}

header, footer {
  text-align: center;
  background: #DDAA00;
  color: white;
}

footer{
  line-height: 1.5;
  font-size: 1.5em;
}

main {
  background-color: grey;
}

body, nav, main, article {
  display: flex;
}

body, article {
  flex-direction: column;
  background-color: white;
  margin: 5px;
}

article {
  flex: 1 1 33%;
}

article > img {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #CCCCCC;
}

p {
  flex: 1 0 auto;
}

body > nav {
  display: flex;
  padding: 5px 2px;
  background-color: #CCCCCC;
}

body > nav > a {
  flex: 1 0;
  margin: 0 0.5em;
  border: 1px solid gray;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #DDAA00;
  background-color: white;
}

button{
  border: 0;
  line-height: 1.5;
  font-size: 1.2em;
  background-color: #0ADE96;
}