<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>justify-content</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href='demo.css'/>
  </head>
  <body>
    <article>
      <div style="justify-content: flex-start;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: flex-start; ⤴</aside>
    </article>
    <article>
      <div style="justify-content: flex-end;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: flex-end;⤴</aside>
    </article>
    <article>
      <div style="justify-content: center;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: center;⤴</aside>
    </article>
    <article>
      <div style="justify-content: space-between;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: space-between;⤴</aside>
    </article>
    <article>
      <div style="justify-content: space-around;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: space-around;⤴</aside>
    </article>
    <article>
      <div style="justify-content: space-evenly;">
        <div>A</div>
        <div>BBB</div>
        <div>CCCCCC</div>
      </div>
      <aside>justify-content: space-evenly;⤴</aside>
    </article>
  </body>
</html>