<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
  <head>
    <title>align-items</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href='demo.css'/>
  </head>
  <body>
    <article>
      <div style="align-items: flex-start;">
        <p>One</p>
        <p>Two<br/>Two</p>
        <p>Three<br/>Three<br/>Three</p>
        <p>Four<br/>Four<br/>Four<br/>Four</p>
        <p>Five<br/>Five<br/>Five<br/>Five<br/>Five</p>
      </div>
      <p>align-items: flex-start; ⤴</p>
    </article>
    <article>
      <div style="align-items: flex-end;">
        <p>One</p>
        <p>Two<br/>Two</p>
        <p>Three<br/>Three<br/>Three</p>
        <p>Four<br/>Four<br/>Four<br/>Four</p>
        <p>Five<br/>Five<br/>Five<br/>Five<br/>Five</p>
      </div>
      <p>align-items: flex-end; ⤴</p>
    </article>
    <article>
      <div style="align-items: center;">
        <p>One</p>
        <p>Two<br/>Two</p>
        <p>Three<br/>Three<br/>Three</p>
        <p>Four<br/>Four<br/>Four<br/>Four</p>
        <p>Five<br/>Five<br/>Five<br/>Five<br/>Five</p>
      </div>
      <p>align-items: center; ⤴</p>
    </article>
    <article>
      <div style="align-items: baseline;">
        <p>One</p>
        <p>Two<br/>Two</p>
        <p>Three<br/>Three<br/>Three</p>
        <p>Four<br/>Four<br/>Four<br/>Four</p>
        <p>Five<br/>Five<br/>Five<br/>Five<br/>Five</p>
      </div>
      <p>align-items: baseline; ⤴</p>
    </article>
    <article>
      <div style="align-items: stretch;">
        <p>One</p>
        <p>Two<br/>Two</p>
        <p>Three<br/>Three<br/>Three</p>
        <p>Four<br/>Four<br/>Four<br/>Four</p>
        <p>Five<br/>Five<br/>Five<br/>Five<br/>Five</p>
      </div>
      <p>align-items: stretch; ⤴</p>
    </article>
  </body>
</html>