<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
  <head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href='demo2.css'/>
  </head>
  <body>
    <article>
      <div style="align-items: flex-start;">
        <div>1</div>
        <div>2 2<br>2 2</div>
        <div>3 3 3<br>
          3 3 3<br>
          3 3 3
        </div>
        <div>4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4
        </div>
        <div>5 5 5 5 5</div>
      </div>
      <p>align-items: flex-start;</p>
    </article>
    <article>
      <div style="align-items: flex-end;">
        <div>1</div>
        <div>2 2<br>
          2 2
        </div>
        <div>3 3 3<br>
          3 3 3<br>
          3 3 3
        </div>
        <div>4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4
        </div>
        <div>5 5 5 5 5</div>
      </div>
      <p>align-items: flex-end;</p>
    </article>
    <article>
      <div style="align-items: center;">
        <div>1</div>
        <div>2 2<br>
          2 2
        </div>
        <div>3 3 3<br>
          3 3 3<br>
          3 3 3
        </div>
        <div>4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4
        </div>
        <div>5 5 5 5 5</div>
      </div>
      <p>align-items: center;</p>
    </article>
    <article>
      <div style="align-items: baseline;">
        <div>1</div>
        <div>2 2<br>
          2 2
        </div>
        <div>3 3 3<br>
          3 3 3<br>
          3 3 3
        </div>
        <div>4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4
        </div>
        <div>5 5 5 5 5</div>
      </div>
      <p>align-items: baseline;</p>
    </article>
    <article>
      <div style="align-items: stretch;">
        <div>1</div>
        <div>2 2<br>
          2 2
        </div>
        <div>3 3 3<br>
          3 3 3<br>
          3 3 3
        </div>
        <div>4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4<br>
          4 4 4 4
        </div>
        <div>5 5 5 5 5</div>
      </div>

      <p>align-items: stretch;</p>
    </article>
  </body>
</html>