@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

figure {
  padding: 0.5em;
  margin: 3em;
  border: thin dashed black;
  border-radius: 0.5em;
  text-align: center;
}

figure > img {
  width: 10em;
  height: auto;
}

figure > figcaption {
  margin-top: 0.5em;
}

figure:nth-child(1) > img {
  filter: hue-rotate(0);
}

figure:nth-child(2) > img {
  filter: hue-rotate(60deg);
}

figure:nth-child(3) > img {
  filter: hue-rotate(120deg);
}

figure:nth-child(4) > img {
  filter: hue-rotate(180deg);
}

figure:nth-child(5) > img {
  filter: hue-rotate(240deg);
}

figure:nth-child(6) > img {
  filter: hue-rotate(300deg);
}

figure:nth-child(7) > img {
  filter: hue-rotate(360deg);
}